Repository oneapi-src/oneVPL-cpu: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cpplint

pylint:
  name: pylint
  entry: pylint
  language: system

cpplint:
  name: cpplint
  entry: cpplint
  language: system

Fix utest crashes in windows
  test/unit/api/smart_dispatcher.cpp
Due: cpplint

Ignore unset mfxConfig properties
  src/dispatcher/vpl/mfx_dispatcher_vpl_config.cpp
  test/unit/api/smart_dispatcher.cpp
Due: cpplint

Fail if vpl-decode gets unsupported color space
  test/unit/api/x_init_reset_close.cpp
  tools/cli/vpl-decode.cpp
Due: cpplint

Add mfxEncodeCtrl parameter checks
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/cpu_encode.h
  src/cpu/src/libmfxvplsw_encode.cpp
  test/unit/api/x_xframeasync.cpp
  tools/legacy/sample_encode/src/pipeline_encode.cpp
Due: cpplint

Set ColumnLimit to 100 characters
  .clang-format
Due: none

Specify toolchain for dpcpp-blur CI testing
  examples/dpcpp-blur/sample.json
Due: none

Add sample_vpp
  script/test
  script/test.bat
  tools/legacy/CMakeLists.txt
  tools/legacy/CPPLINT.cfg
  tools/legacy/sample_common/src/sample_utils.cpp
  tools/legacy/sample_common/src/sysmem_allocator.cpp
  tools/legacy/sample_decode/src/sample_decode.cpp
  tools/legacy/sample_encode/src/sample_encode.cpp
  tools/legacy/sample_vpp/CMakeLists.txt
  tools/legacy/sample_vpp/include/sample_vpp_config.h
  tools/legacy/sample_vpp/include/sample_vpp_frc.h
  tools/legacy/sample_vpp/include/sample_vpp_frc_adv.h
  tools/legacy/sample_vpp/include/sample_vpp_pts.h
  tools/legacy/sample_vpp/include/sample_vpp_roi.h
  tools/legacy/sample_vpp/include/sample_vpp_utils.h
  tools/legacy/sample_vpp/src/sample_vpp.cpp
  tools/legacy/sample_vpp/src/sample_vpp_config.cpp
  tools/legacy/sample_vpp/src/sample_vpp_frc.cpp
  tools/legacy/sample_vpp/src/sample_vpp_frc_adv.cpp
  tools/legacy/sample_vpp/src/sample_vpp_parser.cpp
  tools/legacy/sample_vpp/src/sample_vpp_pts.cpp
  tools/legacy/sample_vpp/src/sample_vpp_roi.cpp
  tools/legacy/sample_vpp/src/sample_vpp_utils.cpp
Due: cpplint

Update hello-vpp to 2.0
  examples/CPPLINT.cfg
  examples/hello-vpp/src/hello-vpp.cpp
Due: cpplint

Update hello-decode to 2.0
  examples/hello-decode/src/hello-decode.cpp
Due: cpplint

Add timestamp support
  src/cpu/src/cpu_common.cpp
  src/cpu/src/cpu_decode.cpp
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/cpu_vpp.cpp
  test/unit/api/x_xframeasync.cpp
Due: cpplint

Fix AV1 gopsize crash
  src/cpu/src/cpu_encode.cpp
  test/unit/api/x_init_reset_close.cpp
Due: cpplint

Add vpl-inspect tool
  tools/cli/CMakeLists.txt
  tools/cli/vpl-inspect.cpp
Due: cpplint

Add hello-encode 2.0 sample
  examples/hello-encode/src/hello-encode.cpp
Due: cpplint

Fix av1 and gmock test hangs
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/cpu_encode.h
  test/unit/api/x_init_reset_close.cpp
Due: cpplint

Update 2.0 dispatcher config filtering
  src/cpu/src/libmfxvplsw_caps.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl.h
  src/dispatcher/vpl/mfx_dispatcher_vpl_config.cpp
  tools/cli/vpl-new-dispatcher.cpp
Due: cpplint

Add more dispatcher unit tests
  src/dispatcher/vpl/mfx_dispatcher_vpl_config.cpp
  test/unit/api/smart_dispatcher.cpp
Due: cpplint

Add debug build script for CI
  script/build
  script/build.bat
  script/cibuild
  script/cibuild.bat
  script/package
  script/package.bat
Due: none

Add query to vpl-encode init
  tools/cli/vpl-encode.cpp
Due: cpplint

Allow building dependecies as debug
  script/bootstrap
  script/bootstrap.bat
Due: none

Make documentation easier to follow
  BUILD.md
  CONTRIBUTING.md
  script/README.md
Due: none

Sync up all samples
  examples/dpcpp-blur/CMakeLists.txt
  examples/dpcpp-blur/README.md
  examples/dpcpp-blur/dpcpp-blur.vcxproj
  examples/dpcpp-blur/sample.json
  examples/dpcpp-blur/src/dpcpp-blur.cpp
  examples/hello-decode/src/hello-decode.cpp
  examples/hello-encode/src/hello-encode.cpp
  examples/hello-vpp/src/hello-vpp.cpp
Due: cpplint

Add additional checks for invalid params
  src/cpu/src/cpu_decode.cpp
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/cpu_vpp.cpp
  test/unit/api/x_init_reset_close.cpp
Due: cpplint

Fix indexing in vpl-inspect
  tools/cli/vpl-inspect.cpp
Due: cpplint

Add vpl-vppenc for pipeline test
  tools/cli/CMakeLists.txt
  tools/cli/vpl-vppenc.cpp
Due: cpplint

Filter valid oneVPL implementations by name
  src/dispatcher/vpl/mfx_dispatcher_vpl_loader.cpp
Due: cpplint

Update version for beta10
  version.txt
Due: none

Align parameters for VBR encoding
  src/cpu/src/cpu_encode.cpp
  tools/cli/vpl-encode.cpp
Due: cpplint

Add vpl-vppenc pipeline test in smoke test
  script/test
  script/test.bat
Due: none

Add tool for dec+enc pipeline
  tools/cli/CMakeLists.txt
  tools/cli/vpl-decenc.cpp
Due: cpplint

Add automated capability reporting plus scripts
  src/cpu/src/libmfxvplsw_caps.cpp
  src/cpu/src/libmfxvplsw_caps.h
  src/cpu/src/libmfxvplsw_caps_dec.h
  src/cpu/src/libmfxvplsw_caps_enc.h
  src/cpu/src/libmfxvplsw_caps_vpp.h
  src/cpu/src/libmfxvplsw_vpl.cpp
  test/tools/python/generate_caps/caps_decode.csv
  test/tools/python/generate_caps/caps_encode.csv
  test/tools/python/generate_caps/caps_vpp.csv
  test/tools/python/generate_caps/gencaps.py
  test/tools/python/generate_caps/generate_caps_decode.py
  test/tools/python/generate_caps/generate_caps_encode.py
  test/tools/python/generate_caps/generate_caps_files.bat
  test/tools/python/generate_caps/generate_caps_files.sh
  test/tools/python/generate_caps/generate_caps_vpp.py
Due: pylint, cpplint

Correct memory flag usage
  examples/dpcpp-blur/src/dpcpp-blur.cpp
  examples/hello-vpp/src/hello-vpp.cpp
  tools/cli/vpl-encode.cpp
  tools/cli/vpl-vpp.cpp
Due: cpplint

Add tool for dec+vpp pipeline
  tools/cli/CMakeLists.txt
  tools/cli/vpl-decvpp.cpp
Due: cpplint

Enable vpl build of dpcpp-blur sample
  examples/dpcpp-blur/CMakeLists.txt
  examples/dpcpp-blur/src/dpcpp-blur.cpp
Due: cpplint

Add smoke tests for decvpp and decenc
  script/test
  script/test.bat
Due: none

Align 2.0 dispatcher filtering steps with spec
  src/dispatcher/vpl/mfx_dispatcher_vpl.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl.h
  src/dispatcher/vpl/mfx_dispatcher_vpl_loader.cpp
  test/unit/api/smart_dispatcher.cpp
Due: cpplint

Add modulefile for vpl
  CMakeLists.txt
  cmake/oneAPIInstallDirs.cmake
  modulefiles/CMakeLists.txt
  modulefiles/vpl
Due: none

load all frames
  tools/cli/vpl-common.h
  tools/cli/vpl-vpp.cpp
Due: cpplint

Enable stress robustness test suite
  script/README.md
  script/stress
  script/stress.bat
  test/tools/python/check_content/main.py
  test/tools/python/check_content/util.py
Due: pylint

Fix iteration count
  script/stress
Due: none

Path conditions:
  pylint: any of: \.py$
  cpplint: any of: \.(h|hh|hpp|hxx|h|c|cc|cpp|cxx|c)$
