Repository oneapi-src/oneVPL-cpu: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cpplint

pylint:
  name: pylint
  entry: pylint
  language: system

cpplint:
  name: cpplint
  entry: cpplint
  language: system

Add query, release, and MFXMemory to dispatcher
  examples/hello_decode_onevpl/main.cpp
  src/dispatcher/linux/mfxloader_onevpl.cpp
  src/dispatcher/windows/main.cpp
  src/dispatcher/windows/mfx_dispatcher.cpp
  src/dispatcher/windows/mfx_dispatcher.h
  src/dispatcher/windows/mfx_dispatcher_onevpl.cpp
  src/dispatcher/windows/mfx_dispatcher_onevpl.h
  src/dispatcher/windows/mfx_function_table.cpp
Due: cpplint

Place VPL-ID.txt in CMake project binary directory
  CMakeLists.txt
Due: none

Fix libav1d bootstrap and add av1 in hello_decode
  examples/content/cars_1280x720.ivf
  examples/hello_decode/main.cpp
  script/bootstrap
  script/bootstrap.bat
  src/cpu/src/cpu_decode.cpp
  src/cpu/src/libmfxvplsw_decode.cpp
Due: cpplint

Add naive implementation of MFXVideoDECODE_Reset
  src/cpu/src/libmfxvplsw_decode.cpp
Due: cpplint

Convert dispatcher to dynamic library
  src/cpu/CMakeLists.txt
  src/cpu/src/windows/libmfxsw.def
  src/dispatcher/CMakeLists.txt
  src/dispatcher/windows/libmfx.def
  src/dispatcher/windows/mfx_dispatcher_onevpl.cpp
Due: cpplint

Add capabilities reporting for dec, enc, and VPP
  src/cpu/CMakeLists.txt
  src/cpu/src/cpu_workstream.h
  src/cpu/src/libmfxvplsw_caps.cpp
  src/cpu/src/libmfxvplsw_caps.h
  src/cpu/src/libmfxvplsw_onevpl.cpp
  src/dispatcher/windows/mfx_dispatcher_onevpl.cpp
  src/dispatcher/windows/mfx_dispatcher_onevpl.h
Due: cpplint

Clarify python tools doc
  test/tools/README.md
Due: none

Add bitstream size limitation
  doc/developer-reference/limitations.md
Due: none

Remove unsupported C++ header
  examples/sample_common/include/mfxvideo++.h
  examples/sample_common/include/sample_utils.h
  examples/sample_common/include/vpp_ex.h
  examples/sample_decode/include/pipeline_decode.h
  examples/sample_encode/include/pipeline_encode.h
  examples/vpl-app/vpl-app.cpp
  src/dispatcher/windows/mfx_dispatcher.cpp
  src/dispatcher/windows/mfxvideo++.h
Due: cpplint

Cleanup to prepare for beta08
  src/cpu/src/cpu_common.cpp
  src/cpu/src/cpu_decode.cpp
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/cpu_workstream.h
  src/cpu/src/libmfxvplsw_decode.cpp
  src/cpu/src/libmfxvplsw_encode.cpp
Due: cpplint

Add MFXSetConfigFilterProperty to dispatcher
  examples/hello_decode_onevpl/main.cpp
  src/dispatcher/CMakeLists.txt
  src/dispatcher/windows/mfx_dispatcher.h
  src/dispatcher/windows/mfx_dispatcher_onevpl.cpp
  src/dispatcher/windows/mfx_dispatcher_onevpl.h
  src/dispatcher/windows/mfx_dispatcher_util.cpp
Due: cpplint

Add Pkgconfig support
  api/CMakeLists.txt
  api/onevpl.pc.in
Due: none

Simplify docker files
  docker/Dockerfile-ubuntu-18.04
  docker/Dockerfile-ubuntu-20.04
  docker/README.md
  docker/build_docker_images.sh
  docker/run.sh
Due: none

Add contents
  doc/developer-reference/build.md
  docker/run.sh
  examples/content/cars_1280x720.h264
  examples/content/cars_1280x720.h265
  examples/content/cars_1280x720.ivf
  examples/hello_decode_onevpl/main.cpp
  script/test
  script/test.bat
  test/content/cars_128x96.h265
  test/content/cars_128x96.i010
  test/content/cars_128x96.i420
  test/content/cars_128x96.ivf
  test/content/cars_128x96_10.h265
  test/content/cars_128x96_10.ivf
  test/smoke/smoke_test_dec_lin.sh
  test/smoke/smoke_test_dec_win.bat
  test/smoke/smoke_test_enc_lin.sh
  test/smoke/smoke_test_enc_win.bat
  test/tools/python/get_content/main.py
Due: pylint, cpplint

Disable SVT log
  doc/developer-reference/build.md
  script/bootstrap
  script/bootstrap.bat
Due: none

Reorganize repository in preparation for open source release
  CMakeLists.txt
  examples/CMakeLists.txt
  examples/hello_decode/CMakeLists.txt
  examples/hello_decode_onevpl/CMakeLists.txt
  examples/hello_encode/CMakeLists.txt
  examples/vpl-app/vpl-app.cpp
  script/cibuild
  script/cibuild.bat
  test/smoke/smoke_test_dec_lin.sh
  test/smoke/smoke_test_dec_win.bat
  test/smoke/smoke_test_enc_lin.sh
  test/smoke/smoke_test_enc_win.bat
  test/tools/cli/CMakeLists.txt
  test/tools/cli/vpl-decode-newloader.cpp
  test/tools/cli/vpl-decode.cpp
  test/tools/cli/vpl-encode.cpp
  test/tools/env/vars.bat
  test/tools/env/vars.sh
Due: cpplint

Enable oneVPL functions in Linux dispatcher
  src/cpu/src/libmfxvplsw_onevpl.cpp
  src/dispatcher/CMakeLists.txt
  src/dispatcher/common/mfx_dispatcher_onevpl.cpp
  src/dispatcher/common/mfx_dispatcher_onevpl.h
  src/dispatcher/common/mfx_dispatcher_util.cpp
  src/dispatcher/linux/mfxloader.cpp
  src/dispatcher/windows/main.cpp
  src/dispatcher/windows/mfx_dispatcher.h
  test/tools/cli/vpl-decode-newloader.cpp
Due: cpplint

Provide oneAPI compliant decode sample
  .gitignore
  CMakeLists.txt
  examples/hello-decode/CMakeLists.txt
  examples/hello-decode/License.txt
  examples/hello-decode/PreLoad.cmake
  examples/hello-decode/README.md
  examples/hello-decode/content/cars_128x96.h265
  examples/hello-decode/hello-decode.sln
  examples/hello-decode/hello-decode.vcxproj
  examples/hello-decode/hello-decode.vcxproj.user
  examples/hello-decode/sample.json
  examples/hello-decode/src/hello-decode.cpp
Due: cpplint

Provide oneAPI compliant encode sample
  CMakeLists.txt
  examples/hello-encode/CMakeLists.txt
  examples/hello-encode/License.txt
  examples/hello-encode/PreLoad.cmake
  examples/hello-encode/README.md
  examples/hello-encode/content/cars_128x96.i420
  examples/hello-encode/hello-encode.sln
  examples/hello-encode/hello-encode.vcxproj
  examples/hello-encode/hello-encode.vcxproj.user
  examples/hello-encode/sample.json
  examples/hello-encode/src/hello-encode.cpp
Due: cpplint

Apply filter properties in oneVPL dispatcher
  src/dispatcher/vpl/mfx_dispatcher_vpl.h
  src/dispatcher/vpl/mfx_dispatcher_vpl_config.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl_loader.cpp
  test/tools/cli/vpl-decode-newloader.cpp
Due: cpplint

Parse input for MFXSetConfigFilterProperty
  examples/hello_decode_onevpl/.clang-format
  src/dispatcher/CMakeLists.txt
  src/dispatcher/vpl/mfx_dispatcher_vpl.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl.h
  src/dispatcher/vpl/mfx_dispatcher_vpl_config.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl_loader.cpp
  test/tools/cli/vpl-decode-newloader.cpp
Due: cpplint

Clean up class names in dispatcher
  src/dispatcher/vpl/mfx_dispatcher_vpl.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl.h
  src/dispatcher/vpl/mfx_dispatcher_vpl_config.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl_loader.cpp
Due: cpplint

Add skeleton developer-reference
  .pylintrc
  doc/developer-reference/Makefile
  doc/developer-reference/README.md
  doc/developer-reference/VPL_apnds_a.rst
  doc/developer-reference/VPL_architecture.rst
  doc/developer-reference/VPL_decoding.rst
  doc/developer-reference/VPL_encoding.rst
  doc/developer-reference/VPL_memory_use.rst
  doc/developer-reference/VPL_session.rst
  doc/developer-reference/VPL_sync.rst
  doc/developer-reference/VPL_vpp.rst
  doc/developer-reference/build.rst
  doc/developer-reference/conf.py
  doc/developer-reference/images/sdk_function_naming_convention.png
  doc/developer-reference/index.rst
  doc/developer-reference/limitations.md
  doc/developer-reference/limitations_and_supported_params.rst
  doc/developer-reference/make.bat
  doc/developer-reference/supported_parameters.md
Due: pylint

Configure path for custom run target in samples
  examples/hello-decode/CMakeLists.txt
  examples/hello-encode/CMakeLists.txt
Due: none

Configure path for custom run target in samples
  script/bootstrap
  script/bootstrap.bat
Due: none

Clean up formatting and sync w/ spec edits
  doc/developer-reference/README.md
  doc/developer-reference/VPL_apnds.rst
  doc/developer-reference/VPL_apnds_a.rst
  doc/developer-reference/VPL_architecture.rst
  doc/developer-reference/VPL_decoding.rst
  doc/developer-reference/VPL_encoding.rst
  doc/developer-reference/VPL_memory_use.rst
  doc/developer-reference/VPL_session.rst
  doc/developer-reference/VPL_sync.rst
  doc/developer-reference/VPL_vpp.rst
  doc/developer-reference/build.rst
  doc/developer-reference/conf.py
  doc/developer-reference/index.rst
  doc/developer-reference/limitations_and_supported_params.rst
Due: pylint

Update dev reference memory and sync chapters
  doc/developer-reference/VPL_memory_use.rst
  doc/developer-reference/VPL_sync.rst
Due: none

Add env folder to dev package
  env/CMakeLists.txt
Due: none

Update version for beta08
  version.txt
Due: none

Complete removal of hello_decode_onevpl
  examples/hello_decode_onevpl/.clang-format
Due: none

Update arch and enc rst doc
  doc/developer-reference/VPL_architecture.rst
  doc/developer-reference/VPL_encoding.rst
Due: none

Remove deprecated code
  src/cpu/src/libmfxvplsw_onevpl.cpp
  src/dispatcher/CMakeLists.txt
  src/dispatcher/linux/mfxaudio_functions.h
  src/dispatcher/linux/mfxloader.cpp
  src/dispatcher/linux/mfxloader.h
  src/dispatcher/linux/mfxvideo_functions.h
  src/dispatcher/vpl/mfx_dispatcher_vpl_loader.cpp
  src/dispatcher/windows/main.cpp
  src/dispatcher/windows/mfx_dispatcher.cpp
  src/dispatcher/windows/mfx_dispatcher.h
  src/dispatcher/windows/mfx_exposed_functions_list.h
  src/dispatcher/windows/mfx_function_table.cpp
  src/dispatcher/windows/mfx_load_plugin.cpp
  src/dispatcher/windows/mfx_load_plugin.h
  src/dispatcher/windows/mfx_plugin_hive.cpp
  src/dispatcher/windows/mfx_plugin_hive.h
  src/dispatcher/windows/mfx_win_reg_key.h
  src/dispatcher/windows/mfxaudio_exposed_functions_list.h
  test/tools/legacy/sample_common/CMakeLists.txt
Due: cpplint

Fix KW issues in legacy tools
  src/dispatcher/windows/mfx_vector.h
  test/tools/legacy/sample_common/include/base_allocator.h
  test/tools/legacy/sample_common/include/sample_utils.h
  test/tools/legacy/sample_common/include/surface_auto_lock.h
  test/tools/legacy/sample_common/include/time_statistics.h
  test/tools/legacy/sample_common/include/vm/file_defs.h
  test/tools/legacy/sample_common/include/vm/strings_defs.h
  test/tools/legacy/sample_common/src/sample_utils.cpp
  test/tools/legacy/sample_common/src/sysmem_allocator.cpp
  test/tools/legacy/sample_common/src/vm/thread.cpp
  test/tools/legacy/sample_decode/include/pipeline_decode.h
  test/tools/legacy/sample_decode/src/pipeline_decode.cpp
  test/tools/legacy/sample_encode/include/pipeline_encode.h
  test/tools/legacy/sample_encode/src/pipeline_encode.cpp
  test/tools/legacy/sample_encode/src/pipeline_user.cpp
  test/tools/legacy/sample_encode/src/sample_encode.cpp
Due: cpplint

Update code to avoid IPLDT hits
  api/CMakeLists.txt
  api/vpl.pc.in
  docker/run.sh
  script/bootstrap.bat
  src/cpu/CMakeLists.txt
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/libmfxvplsw_vpl.cpp
  src/dispatcher/linux/mfxloader_vpl.cpp
  src/dispatcher/linux/mfxloader_vpl.h
  src/dispatcher/vpl/mfx_dispatcher_vpl.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl.h
  src/dispatcher/vpl/mfx_dispatcher_vpl_loader.cpp
  test/tools/cli/vpl-decode-newloader.cpp
  test/tools/legacy/sample_common/include/base_allocator.h
  test/tools/legacy/sample_common/include/mfxvideo++.h
Due: cpplint

Update dev reference session chapter
  doc/developer-reference/VPL_session.rst
Due: none

Fix KW
  examples/hello-decode/src/hello-decode.cpp
  examples/hello-encode/README.md
  examples/hello-encode/src/hello-encode.cpp
  src/cpu/src/cpu_common.cpp
  src/cpu/src/cpu_decode.cpp
  src/cpu/src/libmfxvplsw_caps.cpp
  src/cpu/src/libmfxvplsw_decode.cpp
  src/cpu/src/libmfxvplsw_encode.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl.h
  src/dispatcher/vpl/mfx_dispatcher_vpl_config.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl_loader.cpp
  src/dispatcher/windows/main.cpp
  test/tools/cli/vpl-decode-newloader.cpp
  test/tools/cli/vpl-decode.cpp
  test/tools/cli/vpl-encode.cpp
Due: cpplint

Clarify build instructions
  .gitignore
  README.md
  doc/developer-reference/build.rst
  script/README.md
Due: none

Add top level README for examples
  examples/README.md
Due: none

Path conditions:
  pylint: any of: \.py$
  cpplint: any of: \.(h|hh|hpp|hxx|h|c|cc|cpp|cxx|c)$
