Repository oneapi-src/oneVPL-cpu: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cpplint

.pre-commit-config.yaml:

---
fail_fast: false
default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.29.0
    hooks:
      - id: yapf
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: python
    hooks:
      - id: clang-format
  - repo: https://github.com/iconmaster5326/cmake-format-pre-commit-hook
    rev: master
    hooks:
      - id: cmake-format      
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: local
    hooks:        
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(h|hh|hpp|hxx|h|c|cc|cpp|cxx|c)$

Update TPP for Beta08
  third-party-programs.txt
Due: none

Fix path to content in VS projects of samples
  examples/hello-decode/hello-decode.vcxproj.user
  examples/hello-encode/hello-encode.vcxproj.user
Due: none

Make build instructions consistent across samples
  examples/hello-decode/README.md
  examples/hello-encode/README.md
Due: none

Fix instructions on setting up oneAPI environment
  examples/hello-decode/README.md
  examples/hello-encode/README.md
Due: none

Update TPP to June 2020 guidance
  third-party-programs.txt
Due: none

Fix hello_encode readme
  examples/hello-encode/README.md
Due: none

Update API to latest from oneAPI-spec (7af193c)
  api/vpl/mfxbrc.h
  api/vpl/mfxcommon.h
  api/vpl/mfxdefs.h
  api/vpl/mfxstructures.h
  api/vpl/mfxvideo.h
  api/vpl/mfxvstructures.h
  src/cpu/src/libmfxvplsw_vpl.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl_config.cpp
  test/tools/cli/vpl-decode-newloader.cpp
  test/tools/legacy/sample_common/include/sample_utils.h
  test/tools/legacy/sample_common/src/sample_utils.cpp
  test/tools/legacy/sample_common/src/sysmem_allocator.cpp
Due: cpplint

Enable bootstrap to support MJPEG and VPP
  script/bootstrap
  script/bootstrap.bat
Due: none

Filter update for VPP
  script/bootstrap
  script/bootstrap.bat
Due: none

Enable MJPEG dec+enc and H264 dec
  api/vpl/mfxjpeg.h
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/cpu_workstream.h
  test/content/cars_128x96.h264
  test/content/cars_128x96.mjpeg
  test/content/cars_128x96_10.h264
  test/tools/cli/vpl-decode.cpp
  test/tools/cli/vpl-encode.cpp
Due: cpplint

Support VPP csc scale crop sync
  CMakeLists.txt
  README.md
  examples/hello-vpp/CMakeLists.txt
  examples/hello-vpp/License.txt
  examples/hello-vpp/PreLoad.cmake
  examples/hello-vpp/README.md
  examples/hello-vpp/content/cars_128x96.i420
  examples/hello-vpp/hello-vpp.sln
  examples/hello-vpp/hello-vpp.vcxproj
  examples/hello-vpp/hello-vpp.vcxproj.user
  examples/hello-vpp/sample.json
  examples/hello-vpp/src/hello-vpp.cpp
  src/cpu/ext/ffmpeg-svt/CMakeLists.txt
  src/cpu/src/cpu_common.cpp
  src/cpu/src/cpu_decode.cpp
  src/cpu/src/cpu_vpp.cpp
  src/cpu/src/cpu_workstream.h
  src/cpu/src/libmfxvplsw_vpp.cpp
  test/content/cars_128x96.bgra
  test/tools/cli/CMakeLists.txt
  test/tools/cli/vpl-vpp.cpp
Due: cpplint

Separate & update supported parameters for beta09
  doc/developer-reference/VPL_apnds.rst
  doc/developer-reference/limitations.rst
  doc/developer-reference/limitations_and_supported_params.rst
  doc/developer-reference/supported_params.rst
Due: none

Clarify parameters and limitations
  doc/developer-reference/limitations.rst
  doc/developer-reference/supported_params.rst
Due: none

Provide minimal infrastructure for unit tests
  CMakeLists.txt
  script/test
  script/test.bat
  test/unit/CMakeLists.txt
  test/unit/main.cpp
Due: cpplint

Reorganize operations to CpuWorkstream
  src/cpu/src/cpu_common.cpp
  src/cpu/src/cpu_decode.cpp
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/cpu_workstream.h
  src/cpu/src/libmfxvplsw_core.cpp
  src/cpu/src/libmfxvplsw_decode.cpp
  src/cpu/src/libmfxvplsw_encode.cpp
Due: cpplint

Remove unused files from repository
  src/dispatcher/linux/mfxloader_vpl.cpp
  src/dispatcher/linux/mfxloader_vpl.h
  src/dispatcher/linux/mfxparser.cpp
  src/dispatcher/windows/mfx_driver_store_loader.cpp
  src/dispatcher/windows/mfx_driver_store_loader.h
Due: cpplint

Update MFX_FOURCC_I420
  doc/developer-reference/VPL_encoding.rst
  doc/developer-reference/supported_params.rst
  examples/hello-decode/src/hello-decode.cpp
  examples/hello-encode/src/hello-encode.cpp
  examples/hello-vpp/src/hello-vpp.cpp
  src/cpu/src/cpu_decode.cpp
  src/cpu/src/cpu_vpp.cpp
  src/cpu/src/libmfxvplsw_caps.cpp
  test/tools/cli/vpl-decode-newloader.cpp
  test/tools/cli/vpl-decode.cpp
  test/tools/cli/vpl-encode.cpp
  test/tools/cli/vpl-vpp.cpp
  test/tools/legacy/sample_common/src/sample_utils.cpp
  test/tools/legacy/sample_common/src/sysmem_allocator.cpp
  test/tools/legacy/sample_decode/src/pipeline_decode.cpp
  test/tools/legacy/sample_encode/src/pipeline_encode.cpp
  test/tools/legacy/sample_encode/src/sample_encode.cpp
Due: cpplint

Align dispatcher with spec version 0.9
  src/cpu/src/libmfxvplsw_caps.cpp
  src/cpu/src/libmfxvplsw_vpl.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl.h
  src/dispatcher/vpl/mfx_dispatcher_vpl_config.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl_loader.cpp
Due: cpplint

Validate encode parameters
  doc/developer-reference/supported_params.rst
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/cpu_vpp.cpp
  src/cpu/src/cpu_workstream.h
  src/cpu/src/libmfxvplsw_vpp.cpp
  test/tools/python/check_content/check_smoke_output.py
Due: pylint, cpplint

Remove fails blocking remaining CI test
  script/cibuild
  script/cibuild.bat
Due: none

Fix CpuWorkstream destructor
  src/cpu/src/cpu_common.cpp
  src/cpu/src/cpu_decode.cpp
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/cpu_vpp.cpp
Due: cpplint

Update API to ver 0.9 from oneAPI-spec (70c5c5e)
  api/vpl/mfxadapter.h
  api/vpl/mfxbrc.h
  api/vpl/mfxcommon.h
  api/vpl/mfxdefs.h
  api/vpl/mfxdispatcher.h
  api/vpl/mfxdispatcherprefixedfunctions.h
  api/vpl/mfximplcaps.h
  api/vpl/mfxjpeg.h
  api/vpl/mfxmvc.h
  api/vpl/mfxsession.h
  api/vpl/mfxstructures.h
  api/vpl/mfxvideo.h
Due: cpplint

Enable multiple implementations per library
  api/vpl/mfxjpeg.h
  src/cpu/src/libmfxvplsw_caps.cpp
  src/cpu/src/libmfxvplsw_caps.h
  src/cpu/src/libmfxvplsw_vpl.cpp
  src/cpu/src/windows/libmfxsw.def
  src/dispatcher/linux/mfxloader.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl.h
  src/dispatcher/vpl/mfx_dispatcher_vpl_loader.cpp
  src/dispatcher/windows/mfx_dispatcher.h
  src/dispatcher/windows/mfx_function_table.cpp
  tools/cli/vpl-decode-newloader.cpp
Due: cpplint

Improve build speed by enabling parallel builds
  script/bootstrap
  script/build
Due: none

Align API to spec for session and core functions
  src/cpu/src/cpu_common.cpp
  src/cpu/src/cpu_workstream.h
  src/cpu/src/libmfxvplsw.cpp
  src/cpu/src/libmfxvplsw_core.cpp
  test/unit/CMakeLists.txt
  test/unit/api/core.cpp
  test/unit/api/session_management.cpp
Due: cpplint

Prevent installation of googletest headers
  test/unit/CMakeLists.txt
Due: none

Update vpl-decode for test
  tools/cli/vpl-decode.cpp
  tools/cli/vpl-vpp.cpp
Due: cpplint

Rename library to libvplswref64
  src/cpu/CMakeLists.txt
  src/dispatcher/linux/mfxloader.cpp
  src/dispatcher/windows/mfx_load_dll.cpp
Due: cpplint

Fix backward-compatiblity with MSDK for pkg-config
  api/CMakeLists.txt
  api/libmfx.pc.in
Due: none

Update Dockerfile
  docker/Dockerfile-ubuntu-18.04
  docker/Dockerfile-ubuntu-20.04
Due: none

Update unimplemented returns to NOT_IMPLEMENTED
  src/cpu/src/libmfxvplsw_decode.cpp
  src/cpu/src/libmfxvplsw_encode.cpp
  src/cpu/src/libmfxvplsw_vpl.cpp
  src/cpu/src/libmfxvplsw_vpp.cpp
Due: cpplint

Support optional x264 encode support under GPL
  README.md
  script/bootstrap
  script/bootstrap.bat
  script/build
  script/build.bat
  src/cpu/ext/ffmpeg-svt/CMakeLists.txt
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/cpu_workstream.h
  tools/cli/vpl-decode.cpp
  tools/cli/vpl-encode.cpp
  tools/cli/vpl-vpp.cpp
Due: cpplint

Add unit test stubs for all functions
  test/unit/CMakeLists.txt
  test/unit/api/adapter.cpp
  test/unit/api/decodeheader.cpp
  test/unit/api/memory.cpp
  test/unit/api/smart_dispatcher.cpp
  test/unit/api/x_getvideoparam.cpp
  test/unit/api/x_init_reset_close.cpp
  test/unit/api/x_notimplemented.cpp
  test/unit/api/x_query.cpp
  test/unit/api/x_queryiosurf.cpp
  test/unit/api/x_xframeasync.cpp
Due: cpplint

Align 2.0 memory callbacks with spec
  src/cpu/src/cpu_frames.cpp
  src/cpu/src/cpu_memory.cpp
  tools/cli/CMakeLists.txt
  tools/cli/vpl-decode-newmemory.cpp
  tools/cli/vpl-encode-newmemory.cpp
Due: cpplint

Add internal memory management for VPP
  src/cpu/src/cpu_common.cpp
  src/cpu/src/cpu_memory.cpp
  src/cpu/src/cpu_vpp.cpp
  src/cpu/src/cpu_workstream.h
  src/cpu/src/libmfxvplsw_vpl.cpp
  tools/cli/CMakeLists.txt
  tools/cli/vpl-vpp-newmemory.cpp
Due: cpplint

Add internal memory management for encode
  src/cpu/src/cpu_common.cpp
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/cpu_frames.cpp
  src/cpu/src/cpu_memory.cpp
  src/cpu/src/cpu_workstream.h
  src/cpu/src/libmfxvplsw_decode.cpp
  src/cpu/src/libmfxvplsw_encode.cpp
  src/cpu/src/libmfxvplsw_vpl.cpp
  tools/cli/CMakeLists.txt
  tools/cli/vpl-decode-newmemory.cpp
  tools/cli/vpl-encode-newmemory.cpp
Due: cpplint

Add vpl-encode-newmemory
  tools/cli/CMakeLists.txt
  tools/cli/vpl-decode-newmemory.cpp
  tools/cli/vpl-encode-newmemory.cpp
Due: cpplint

Initial implementation - internal memory mgmt
  api/vpl/mfxcommon.h
  src/cpu/CMakeLists.txt
  src/cpu/src/cpu_common.cpp
  src/cpu/src/cpu_decode.cpp
  src/cpu/src/cpu_frames.cpp
  src/cpu/src/cpu_memory.cpp
  src/cpu/src/cpu_workstream.h
  src/cpu/src/libmfxvplsw_decode.cpp
  src/cpu/src/libmfxvplsw_vpl.cpp
  tools/cli/CMakeLists.txt
  tools/cli/vpl-decode-newmemory.cpp
Due: cpplint
