Repository oneapi-src/oneVPL-cpu: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cpplint

.pre-commit-config.yaml:

---
fail_fast: false
default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.29.0
    hooks:
      - id: yapf
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: python
    hooks:
      - id: clang-format
  - repo: https://github.com/iconmaster5326/cmake-format-pre-commit-hook
    rev: master
    hooks:
      - id: cmake-format      
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: local
    hooks:        
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(h|hh|hpp|hxx|h|c|cc|cpp|cxx|c)$

Copy pthread dll to build dir on Windows
  src/cpu/ext/ffmpeg-svt/CMakeLists.txt
Due: none

Enable rawvideo input/output in ffmpeg
  script/bootstrap
  script/bootstrap.bat
  src/cpu/ext/ffmpeg-svt/CMakeLists.txt
  test/smoke/smoke_test_dec_lin.sh
  test/smoke/smoke_test_dec_win.bat
  test/smoke/smoke_test_enc_lin.sh
  test/smoke/smoke_test_enc_win.bat
Due: none

Add decode and encode smoke tests to CI
  script/cibuild
  script/cibuild.bat
  script/test.bat
  test/tools/python/check_content/check_smoke_output.py
  test/tools/python/check_content/main.py
Due: pylint

Add dav1d in bootstrap
  README.md
  doc/developer-reference/build.md
  script/bootstrap
  script/bootstrap.bat
  src/cpu/ext/ffmpeg-svt/CMakeLists.txt
Due: none

Skip lint of API headers
  .pylintrc
  api/.clang-format
  api/CPPLINT.cfg
Due: none

Check if libdav1d is present before trying link
  src/cpu/ext/ffmpeg-svt/CMakeLists.txt
Due: none

Check for lib SvtAv1Enc before trying to link
  src/cpu/ext/ffmpeg-svt/CMakeLists.txt
Due: none

Add hello_encode example
  examples/hello_encode/CMakeLists.txt
  examples/hello_encode/main.cpp
Due: cpplint

Add limitations.md
  doc/developer-reference/limitations.md
Due: none

Provide oneAPI environment variable scripts
  CMakeLists.txt
  env/CMakeLists.txt
  env/bash/vars.sh
  env/cmd/vars.bat
Due: none

Disable all plugins to align with oneAPI spec
  api/onevpl/mfxla.h
  api/onevpl/mfxmvc.h
  api/onevpl/mfxplugin.h
  examples/sample_common/include/base_allocator.h
  examples/sample_decode/include/pipeline_decode.h
  examples/sample_decode/src/pipeline_decode.cpp
  examples/sample_encode/include/pipeline_encode.h
  examples/sample_encode/src/pipeline_encode.cpp
  src/cpu/src/libmfxvplsw_core.cpp
  src/cpu/src/windows/libmfx.def
  src/dispatcher/linux/mfxvideo_functions.h
  src/dispatcher/windows/main.cpp
  src/dispatcher/windows/mfx_dispatcher.cpp
  src/dispatcher/windows/mfx_dispatcher.h
  src/dispatcher/windows/mfx_exposed_functions_list.h
  src/dispatcher/windows/mfx_load_plugin.cpp
  src/dispatcher/windows/mfx_load_plugin.h
  src/dispatcher/windows/mfx_plugin_hive.cpp
  src/dispatcher/windows/mfx_plugin_hive.h
  src/dispatcher/windows/mfx_win_reg_key.h
  src/dispatcher/windows/mfxaudio_exposed_functions_list.h
Due: cpplint

Update API to latest from oneAPI-spec (f108518)
  api/onevpl/mfxadapter.h
  api/onevpl/mfxbrc.h
  api/onevpl/mfxcommon.h
  api/onevpl/mfxdefs.h
  api/onevpl/mfxdispatcherprefixedfunctions.h
  api/onevpl/mfxjpeg.h
  api/onevpl/mfxla.h
  api/onevpl/mfxmvc.h
  api/onevpl/mfxplugin.h
  api/onevpl/mfxsession.h
  api/onevpl/mfxstructures.h
  api/onevpl/mfxvideo.h
  api/onevpl/mfxvp8.h
  api/onevpl/mfxvp9.h
  api/onevpl/mfxvstructures.h
Due: cpplint

Update Windows dispatcher to intel-mediasdk-20.1
  src/dispatcher/windows/main.cpp
  src/dispatcher/windows/mfx_critical_section.cpp
  src/dispatcher/windows/mfx_critical_section.h
  src/dispatcher/windows/mfx_dispatcher.cpp
  src/dispatcher/windows/mfx_dispatcher.h
  src/dispatcher/windows/mfx_dispatcher_defs.h
  src/dispatcher/windows/mfx_dispatcher_log.cpp
  src/dispatcher/windows/mfx_dispatcher_log.h
  src/dispatcher/windows/mfx_driver_store_loader.cpp
  src/dispatcher/windows/mfx_driver_store_loader.h
  src/dispatcher/windows/mfx_dxva2_device.cpp
  src/dispatcher/windows/mfx_dxva2_device.h
  src/dispatcher/windows/mfx_exposed_functions_list.h
  src/dispatcher/windows/mfx_function_table.cpp
  src/dispatcher/windows/mfx_library_iterator.cpp
  src/dispatcher/windows/mfx_library_iterator.h
  src/dispatcher/windows/mfx_load_dll.cpp
  src/dispatcher/windows/mfx_load_dll.h
  src/dispatcher/windows/mfx_load_plugin.cpp
  src/dispatcher/windows/mfx_load_plugin.h
  src/dispatcher/windows/mfx_plugin_hive.cpp
  src/dispatcher/windows/mfx_plugin_hive.h
  src/dispatcher/windows/mfx_vector.h
  src/dispatcher/windows/mfx_win_reg_key.cpp
  src/dispatcher/windows/mfx_win_reg_key.h
  src/dispatcher/windows/mfxaudio_exposed_functions_list.h
Due: cpplint

Fix lint warnings in new dispatcher
  api/onevpl/mfxdispatcher.h
  src/dispatcher/linux/mfxaudio_functions.h
  src/dispatcher/linux/mfxloader.cpp
  src/dispatcher/linux/mfxloader.h
  src/dispatcher/linux/mfxparser.cpp
  src/dispatcher/linux/mfxvideo_functions.h
  src/dispatcher/windows/main.cpp
  src/dispatcher/windows/mfx_critical_section.cpp
  src/dispatcher/windows/mfx_critical_section.h
  src/dispatcher/windows/mfx_dispatcher.cpp
  src/dispatcher/windows/mfx_dispatcher.h
  src/dispatcher/windows/mfx_dispatcher_defs.h
  src/dispatcher/windows/mfx_dispatcher_log.cpp
  src/dispatcher/windows/mfx_dispatcher_log.h
  src/dispatcher/windows/mfx_driver_store_loader.cpp
  src/dispatcher/windows/mfx_driver_store_loader.h
  src/dispatcher/windows/mfx_dxva2_device.cpp
  src/dispatcher/windows/mfx_dxva2_device.h
  src/dispatcher/windows/mfx_exposed_functions_list.h
  src/dispatcher/windows/mfx_function_table.cpp
  src/dispatcher/windows/mfx_library_iterator.cpp
  src/dispatcher/windows/mfx_library_iterator.h
  src/dispatcher/windows/mfx_load_dll.cpp
  src/dispatcher/windows/mfx_load_dll.h
  src/dispatcher/windows/mfx_load_plugin.cpp
  src/dispatcher/windows/mfx_load_plugin.h
  src/dispatcher/windows/mfx_plugin_hive.cpp
  src/dispatcher/windows/mfx_plugin_hive.h
  src/dispatcher/windows/mfx_vector.h
  src/dispatcher/windows/mfx_win_reg_key.cpp
  src/dispatcher/windows/mfx_win_reg_key.h
  src/dispatcher/windows/mfxaudio_exposed_functions_list.h
Due: cpplint

Update Linux dispatcher to intel-mediasdk-20.1
  src/cpu/CMakeLists.txt
  src/cpu/src/libmfxvplsw.cpp
  src/cpu/src/windows/libmfx.def
  src/dispatcher/CMakeLists.txt
  src/dispatcher/linux/mfxaudio_functions.h
  src/dispatcher/linux/mfxloader.cpp
  src/dispatcher/linux/mfxloader.h
  src/dispatcher/linux/mfxparser.cpp
  src/dispatcher/linux/mfxvideo_functions.h
  src/dispatcher/windows/mfx_exposed_functions_list.h
Due: cpplint

Enable VPL in Windows dispatcher
  api/onevpl/mfxcommon.h
  api/onevpl/mfxdispatcher.h
  api/onevpl/mfximplcaps.h
  src/cpu/CMakeLists.txt
  src/cpu/src/libmfxvplsw_core.cpp
  src/cpu/src/windows/libmfx.def
  src/dispatcher/CMakeLists.txt
  src/dispatcher/windows/main.cpp
  src/dispatcher/windows/mfx_dispatcher.cpp
  src/dispatcher/windows/mfx_dispatcher.h
  src/dispatcher/windows/mfx_exposed_functions_list.h
  src/dispatcher/windows/mfx_load_dll.cpp
  src/dispatcher/windows/mfx_load_plugin.cpp
Due: cpplint

Turn off non-VPL code in Windows dispatcher
  src/dispatcher/CMakeLists.txt
  src/dispatcher/windows/main.cpp
  src/dispatcher/windows/mfx_critical_section.h
  src/dispatcher/windows/mfx_dispatcher.cpp
  src/dispatcher/windows/mfx_dispatcher.h
  src/dispatcher/windows/mfx_dispatcher_defs.h
  src/dispatcher/windows/mfx_dxva2_device.h
  src/dispatcher/windows/mfx_exposed_functions_list.h
  src/dispatcher/windows/mfx_library_iterator.h
  src/dispatcher/windows/mfx_load_plugin.cpp
  src/dispatcher/windows/mfx_load_plugin.h
  src/dispatcher/windows/mfx_plugin_hive.h
  src/dispatcher/windows/mfx_vector.h
  src/dispatcher/windows/mfx_win_reg_key.h
  src/dispatcher/windows/mfxaudio_exposed_functions_list.h
Due: cpplint

Fix build errors from new API headers
  api/onevpl/mfxcommon.h
  api/onevpl/mfxdefs.h
  api/onevpl/mfxla.h
  api/onevpl/mfxmvc.h
  api/onevpl/mfxplugin.h
  api/onevpl/mfxstructures.h
  api/onevpl/mfxvideo++.h
  examples/sample_common/include/base_allocator.h
  examples/sample_encode/src/sample_encode.cpp
  src/cpu/src/libmfxvplsw_core.cpp
  src/cpu/src/windows/libmfx.def
  src/dispatcher/windows/mfx_exposed_functions_list.h
Due: cpplint

Add Linux smoke tests for CI
  script/cibuild
  script/test
  script/test.bat
Due: none

Reorganize incrementally to enable nonblocking
  src/cpu/src/cpu_common.cpp
  src/cpu/src/cpu_decode.cpp
  src/cpu/src/cpu_workstream.h
  src/cpu/src/libmfxvplsw_decode.cpp
Due: cpplint

Add instrumentation to hello_decode
  examples/hello_decode/main.cpp
Due: cpplint

Enable AV1 encode in oneVPL and example
  examples/hello_encode/main.cpp
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/libmfxvplsw_encode.cpp
Due: cpplint

Update API to latest from oneAPI-spec (3214f75)
  api/onevpl/mfxcommon.h
  api/onevpl/mfxdefs.h
  api/onevpl/mfxdispatcher.h
  api/onevpl/mfxdispatcherprefixedfunctions.h
  api/onevpl/mfximplcaps.h
  api/onevpl/mfxmvc.h
  api/onevpl/mfxstructures.h
  api/onevpl/mfxvideo.h
Due: cpplint

Fix build errors from new API headers
  api/onevpl/mfxcommon.h
  api/onevpl/mfxdefs.h
  api/onevpl/mfxdispatcher.h
  api/onevpl/mfxstructures.h
  cmake/CompileOptions.cmake
Due: cpplint

Align to standard lib naming and version query
  cmake/CompileOptions.cmake
  examples/hello_decode/main.cpp
  examples/hello_encode/main.cpp
  examples/sample_decode/include/pipeline_decode.h
  examples/sample_decode/src/pipeline_decode.cpp
  examples/sample_encode/include/pipeline_encode.h
  examples/sample_encode/src/pipeline_encode.cpp
  examples/vpl-app/vpl-app.cpp
  src/cpu/CMakeLists.txt
  src/cpu/src/libmfxvplsw.cpp
  src/dispatcher/linux/mfxloader.cpp
  src/dispatcher/windows/main.cpp
  src/dispatcher/windows/mfx_dispatcher.cpp
  src/dispatcher/windows/mfx_dispatcher.h
  src/dispatcher/windows/mfx_exposed_functions_list.h
  src/dispatcher/windows/mfx_load_dll.cpp
Due: cpplint

Add instrumentation to hello_encode
  examples/hello_encode/main.cpp
Due: cpplint

Enable 10bit encoding for hevc and av1
  examples/hello_encode/main.cpp
Due: cpplint

Fix draining and enabled 10 bit hevc decoding
  examples/hello_decode/main.cpp
  examples/hello_encode/main.cpp
  src/cpu/src/cpu_decode.cpp
Due: cpplint

Update API to ver 0.85 oneAPI-spec
  api/.clang-format
  api/onevpl/mfxadapter.h
  api/onevpl/mfxbrc.h
  api/onevpl/mfxcommon.h
  api/onevpl/mfxdefs.h
  api/onevpl/mfxdispatcher.h
  api/onevpl/mfxdispatcherprefixedfunctions.h
  api/onevpl/mfximplcaps.h
  api/onevpl/mfxjpeg.h
  api/onevpl/mfxpcp.h
  api/onevpl/mfxsession.h
  api/onevpl/mfxstructures.h
  api/onevpl/mfxvideo++.h
  api/onevpl/mfxvideo.h
  api/onevpl/mfxvp8.h
  examples/sample_common/src/sample_utils.cpp
  src/cpu/src/libmfxvplsw.cpp
  src/cpu/src/libmfxvplsw_vpp.cpp
  src/cpu/src/windows/libmfx.def
  src/cpu/src/windows/mingw_wa.cpp
  src/dispatcher/linux/mfxloader.cpp
  src/dispatcher/linux/mfxvideo_functions.h
  src/dispatcher/windows/main.cpp
  src/dispatcher/windows/mfx_dispatcher.cpp
  src/dispatcher/windows/mfx_exposed_functions_list.h
Due: cpplint

Update fourcc with IYUV
  examples/hello_decode/main.cpp
  examples/hello_encode/main.cpp
  examples/sample_common/src/sample_utils.cpp
  examples/sample_common/src/sysmem_allocator.cpp
  examples/sample_decode/src/pipeline_decode.cpp
  examples/sample_encode/src/pipeline_encode.cpp
  examples/sample_encode/src/sample_encode.cpp
  src/cpu/src/cpu_decode.cpp
Due: cpplint

Remove non-official headers from public API
  api/vpl/export.h
  api/vpl/version.h
  api/vpl/version.hpp
  api/vpl/vpl.h
  api/vpl/vpl.hpp
Due: cpplint

Add dockerfiles for Ubuntu 18.04 and 20.04
  doc/developer-reference/build.md
  docker/Dockerfile-ubuntu-18.04
  docker/Dockerfile-ubuntu-20.04
Due: none

Define LD_LIBRARY_PATH in environment script
  env/bash/vars.sh
Due: none

Add Git rev capture to CMAKE
  CMakeLists.txt
Due: none

Fix vpl-app error checking
  examples/vpl-app/vpl-app.cpp
Due: cpplint

Add new dispatcher functions and sample
  examples/hello_decode_onevpl/CMakeLists.txt
  examples/hello_decode_onevpl/main.cpp
  src/cpu/CMakeLists.txt
  src/cpu/src/cpu_decode.cpp
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/libmfxvplsw_onevpl.cpp
  src/cpu/src/windows/libmfx.def
  src/dispatcher/CMakeLists.txt
  src/dispatcher/linux/mfxloader_onevpl.cpp
  src/dispatcher/linux/mfxloader_onevpl.h
  src/dispatcher/windows/main.cpp
  src/dispatcher/windows/mfx_dispatcher.h
  src/dispatcher/windows/mfx_dispatcher_onevpl.cpp
  src/dispatcher/windows/mfx_dispatcher_onevpl.h
Due: cpplint

Import updates to headers for SWLC
  api/vpl/mfxadapter.h
  api/vpl/mfxbrc.h
  api/vpl/mfxcommon.h
  api/vpl/mfxdefs.h
  api/vpl/mfxdispatcher.h
  api/vpl/mfxdispatcherprefixedfunctions.h
  api/vpl/mfximplcaps.h
  api/vpl/mfxjpeg.h
  api/vpl/mfxmvc.h
  api/vpl/mfxpcp.h
  api/vpl/mfxsession.h
  api/vpl/mfxstructures.h
  api/vpl/mfxvideo.h
  api/vpl/mfxvp8.h
  api/vpl/mfxvp9.h
  api/vpl/mfxvstructures.h
Due: cpplint

Add beta08 supported parameters
  doc/developer-reference/limitations.md
  doc/developer-reference/supported_parameters.md
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/cpu_workstream.h
Due: cpplint

Update limitations.md
  doc/developer-reference/limitations.md
Due: none
