Repository oneapi-src/oneVPL-cpu: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cpplint

.pre-commit-config.yaml:

---
fail_fast: false
default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.29.0
    hooks:
      - id: yapf
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: python
    hooks:
      - id: clang-format
  - repo: https://github.com/iconmaster5326/cmake-format-pre-commit-hook
    rev: master
    hooks:
      - id: cmake-format      
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: local
    hooks:        
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(h|hh|hpp|hxx|h|c|cc|cpp|cxx|c)$

Remove Python lint launch script
  script/README.md
  script/lint.py
Due: pylint

Provide script for CI to validate merge requests
  .gitattributes
  script/README.md
  script/cibuild
  script/cibuild.bat
Due: none

Document clang-format requirement for linting
  CONTRIBUTING.md
Due: none

Force LF line endings for CMake files on commit
  .gitattributes
Due: none

Update lint and git configurations
  .clang-format
  .gitattributes
  .gitignore
  CPPLINT.cfg
Due: none

Provide minimal library stub with example app
  CMakeLists.txt
  README.md
  cmake/CompileOptions.cmake
  cmake/PackageTarget.cmake
  cmake/oneAPIInstallDirs.cmake
  examples/CMakeLists.txt
  examples/vpl-app/CMakeLists.txt
  examples/vpl-app/vpl-app.cpp
  libvpl/CMakeLists.txt
  libvpl/include/vpl/export.h
  libvpl/include/vpl/version.h
  libvpl/include/vpl/version.hpp
  libvpl/include/vpl/vpl.h
  libvpl/include/vpl/vpl.hpp
  libvpl/src/version.cpp
  libvpl/version.txt
  script/README.md
  script/build
  script/build.bat
  script/lint
  script/lint.bat
  script/package
  script/package.bat
Due: cpplint

Use file in root of repository for oneVPL version
  CMakeLists.txt
  version.txt
Due: none

Add test tool to get content
  .gitignore
  test/env/vars.bat
  test/env/vars.sh
  test/tools/README.md
  test/tools/python/__init__.py
  test/tools/python/get_content/__init__.py
  test/tools/python/get_content/__main__.py
  test/tools/python/get_content/main.py
  test/tools/python/get_content/util.py
Due: pylint

Add content checker
  test/tools/python/check_content/__init__.py
  test/tools/python/check_content/__main__.py
  test/tools/python/check_content/main.py
  test/tools/python/check_content/util.py
Due: pylint

Avoid IPLDT hit in main CMake file
  CMakeLists.txt
Due: none

Package third party programs notice
  CMakeLists.txt
  third-party-programs.txt
Due: none

Provide CMake doc target
  CMakeLists.txt
  README.md
  doc/CMakeLists.txt
  doc/developer-reference/examples.dox
  examples/vpl-app/vpl-app.cpp
  libvpl/include/vpl/export.h
  libvpl/include/vpl/version.h
  libvpl/include/vpl/version.hpp
  libvpl/include/vpl/vpl.hpp
  libvpl/src/version.cpp
Due: cpplint

Add DISABLE_LIBAV option to enable stub DLL build
  libvpl/CMakeLists.txt
  libvpl/src/cpu_common.cpp
  libvpl/src/cpu_decode.cpp
  libvpl/src/cpu_workstream.h
Due: cpplint

Avoid IPLDT hits
  examples/sample_common/include/plugin_loader.h
  examples/sample_decode/src/pipeline_decode.cpp
  examples/sample_decode/src/sample_decode.cpp
  libvpl/include/vpl/mfxcommon.h
  libvpl/src/cpu_decode.cpp
  libvpl/src/cpu_encode.cpp
Due: cpplint

Provide bootstrap script that builds dependencies
  README.md
  doc/developer-reference/build.md
  script/README.md
  script/bootstrap
  script/bootstrap.bat
Due: none

Link use libavcodec with cpu runtime
  examples/sample_decode/CMakeLists.txt
  examples/sample_encode/CMakeLists.txt
  libvpl/runtime/cpu/CMakeLists.txt
  libvpl/runtime/cpu/ext/ffmpeg-svt/CMakeLists.txt
  script/cibuild
  script/cibuild.bat
Due: none

Update library names to align with MSDK convention
  examples/sample_common/CMakeLists.txt
  examples/sample_decode/CMakeLists.txt
  examples/sample_encode/CMakeLists.txt
  examples/vpl-app/CMakeLists.txt
  src/cpu/CMakeLists.txt
  src/dispatcher/CMakeLists.txt
Due: none

Update FFmpeg configuration
  script/bootstrap
  script/bootstrap.bat
Due: none

Link to GCC exception handling lib on Windows
  src/cpu/ext/ffmpeg-svt/CMakeLists.txt
Due: none

Link CPU implementation correctly to dependencies
  examples/sample_encode/CMakeLists.txt
  src/cpu/CMakeLists.txt
  src/cpu/ext/ffmpeg-svt/CMakeLists.txt
Due: none

Allow use of non-MSYS Git on Windows
  script/bootstrap
  script/bootstrap.bat
Due: none

Disable warning about detached head in bootstrap
  script/bootstrap
  script/bootstrap.bat
Due: none

Provide meaningful git identity for bootstrap
  script/bootstrap
  script/bootstrap.bat
Due: none

Clarify canonical build instructions
  README.md
Due: none

Fix clang warnings
  api/vpl/mfxadapter.h
  api/vpl/mfxbrc.h
  api/vpl/mfxcommon.h
  api/vpl/mfxdefs.h
  api/vpl/mfxdispatcherprefixedfunctions.h
  api/vpl/mfxjpeg.h
  api/vpl/mfxla.h
  api/vpl/mfxmvc.h
  api/vpl/mfxplugin.h
  api/vpl/mfxsession.h
  api/vpl/mfxstructures.h
  api/vpl/mfxvideo.h
  api/vpl/mfxvp8.h
  api/vpl/mfxvp9.h
  api/vpl/mfxvstructures.h
Due: cpplint

Fix build errors from new API headers
  api/vpl/mfxcommon.h
  api/vpl/mfxstructures.h
  api/vpl/mfxvideo++.h
Due: cpplint

Fix cpplint warnings
  api/CPPLINT.cfg
  api/vpl/mfxadapter.h
  api/vpl/mfxbrc.h
  api/vpl/mfxcommon.h
  api/vpl/mfxdefs.h
  api/vpl/mfxdispatcherprefixedfunctions.h
  api/vpl/mfxjpeg.h
  api/vpl/mfxla.h
  api/vpl/mfxmvc.h
  api/vpl/mfxplugin.h
  api/vpl/mfxsession.h
  api/vpl/mfxstructures.h
  api/vpl/mfxvideo.h
  api/vpl/mfxvp8.h
  api/vpl/mfxvp9.h
  api/vpl/mfxvstructures.h
Due: cpplint

Fix lint warnings
  api/onevpl/export.h
  api/onevpl/mfxadapter.h
  api/onevpl/mfxbrc.h
  api/onevpl/mfxcommon.h
  api/onevpl/mfxdefs.h
  api/onevpl/mfxdispatcherprefixedfunctions.h
  api/onevpl/mfxjpeg.h
  api/onevpl/mfxla.h
  api/onevpl/mfxmvc.h
  api/onevpl/mfxplugin.h
  api/onevpl/mfxsession.h
  api/onevpl/mfxstructures.h
  api/onevpl/mfxvideo++.h
  api/onevpl/mfxvideo.h
  api/onevpl/mfxvp8.h
  api/onevpl/mfxvp9.h
  api/onevpl/mfxvstructures.h
  api/onevpl/version.h
  api/onevpl/version.hpp
  api/onevpl/vpl.h
  api/onevpl/vpl.hpp
  examples/sample_common/include/abstract_splitter.h
  examples/sample_common/include/sample_defs.h
  examples/sample_common/include/time_statistics.h
  examples/sample_common/include/vm/so_defs.h
  examples/sample_common/include/vm/thread_defs.h
  examples/sample_common/include/vpp_ex.h
  examples/sample_common/src/sample_utils.cpp
  src/dispatcher/windows/mfx_dispatcher.h
Due: cpplint

Update API to latest from oneAPI-spec (3a76421)
  api/vpl/mfxadapter.h
  api/vpl/mfxbrc.h
  api/vpl/mfxcommon.h
  api/vpl/mfxdefs.h
  api/vpl/mfxdispatcherprefixedfunctions.h
  api/vpl/mfxjpeg.h
  api/vpl/mfxla.h
  api/vpl/mfxmvc.h
  api/vpl/mfxplugin.h
  api/vpl/mfxsession.h
  api/vpl/mfxstructures.h
  api/vpl/mfxvideo++.h
  api/vpl/mfxvideo.h
  api/vpl/mfxvp8.h
  api/vpl/mfxvp9.h
  api/vpl/mfxvstructures.h
Due: cpplint

Avoid IPLDT hits
  api/CMakeLists.txt
  api/onevpl/export.h
Due: cpplint

Fix crashes in Windows build
  src/cpu/ext/ffmpeg-svt/CMakeLists.txt
Due: none

Add hello_decode sample
  examples/hello_decode/CMakeLists.txt
  examples/hello_decode/main.cpp
Due: cpplint

Enable Svt-Av1 codec in bootstrap
  script/bootstrap
  script/bootstrap.bat
  src/cpu/ext/ffmpeg-svt/CMakeLists.txt
Due: none
