Repository oneapi-src/oneVPL-cpu: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cpplint

pylint:
  name: pylint
  entry: pylint
  language: system

cpplint:
  name: cpplint
  entry: cpplint
  language: system

Remove legacy tools
  script/test
  script/test.bat
Due: none

Avoid sed in batch files
  script/bootstrap.bat
Due: none

Update README and CONTRIBUTING
  CONTRIBUTING.md
  README.md
Due: none

Fix h264 encode bitexact failure
  cpu/src/cpu_encode.cpp
Due: cpplint

Improve failure checking for bootstrap batch file
  script/bootstrap.bat
Due: none

Add stubs for new API 2.1 functions
  cpu/src/libmfxvplsw_decvpp.cpp
  cpu/src/libmfxvplsw_vpl.cpp
  cpu/src/libmfxvplsw_vpp.cpp
  cpu/src/windows/libmfxsw.def
  test/unit/api/x_notimplemented.cpp
Due: cpplint

Include H264 in encoder capabilities if enabled
  cpu/CMakeLists.txt
  cpu/src/libmfxvplsw_caps_enc_h264.h
  cpu/src/libmfxvplsw_vpl.cpp
  test/tools/python/generate_caps/caps_encode_h264.csv
  test/tools/python/generate_caps/generate_caps_files.bat
  test/tools/python/generate_caps/generate_caps_files.sh
Due: cpplint

Update av1 decode info more
  cpu/src/cpu_decode.cpp
Due: cpplint

Update CPU capabilities reporting tables
  cpu/src/libmfxvplsw_caps_dec.h
  cpu/src/libmfxvplsw_caps_enc.h
  cpu/src/libmfxvplsw_caps_enc_h264.h
  cpu/src/libmfxvplsw_caps_vpp.h
  test/tools/python/generate_caps/caps_decode.csv
  test/tools/python/generate_caps/caps_encode.csv
  test/tools/python/generate_caps/caps_encode_h264.csv
  test/tools/python/generate_caps/caps_vpp.csv
Due: cpplint

Add OnComplete() in CPU runtime
  cpu/src/cpu_frame.cpp
  cpu/src/cpu_frame.h
  cpu/src/libmfxvplsw_decode.cpp
Due: cpplint

Release 2020.1 Gold
  CMakeLists.txt
  CONTRIBUTING.md
  README.md
  cpu/src/cpu_common.cpp
  cpu/src/cpu_decode.cpp
  cpu/src/cpu_encode.cpp
  cpu/src/cpu_encode.h
  cpu/src/cpu_frame.h
  cpu/src/cpu_vpp.cpp
  cpu/src/libmfxvplsw_encode.cpp
  cpu/src/libmfxvplsw_vpp.cpp
  script/bootstrap.bat
  script/test
  script/test.bat
  test/unit/CMakeLists.txt
  test/unit/api/core.cpp
  test/unit/api/memory.cpp
  test/unit/api/smart_dispatcher.cpp
  test/unit/api/x_getvideoparam.cpp
  test/unit/api/x_init_reset_close.cpp
  test/unit/api/x_query.cpp
  test/unit/api/x_queryiosurf.cpp
  test/unit/api/x_xframeasync.cpp
Due: cpplint

Update Linux bootstrap
  cmake/CompileOptions.cmake
  script/bootstrap
  script/bootstrap.py
  script/build
Due: pylint

Add utest for handle config via smart dispatcher
  cpu/src/cpu_workstream.h
  cpu/src/libmfxvplsw_core.cpp
  test/unit/api/smart_dispatcher.cpp
Due: cpplint

Fix passing GPL and Debug flags
  script/bootstrap
Due: none

Implement GetSurfaceForVPPOut() and interface
  cpu/src/cpu_vpp.cpp
  cpu/src/cpu_vpp.h
  cpu/src/libmfxvplsw_vpl.cpp
  test/unit/api/memory.cpp
  test/unit/api/x_notimplemented.cpp
Due: cpplint

Return non-zero on error
  script/bootstrap.bat
Due: none

Implement MFXVideoVPP_ProcessFrameAsync()
  cpu/src/libmfxvplsw_vpp.cpp
  test/unit/api/x_notimplemented.cpp
  test/unit/api/x_xframeasync.cpp
Due: cpplint

Enable mfxAccelerationModeDescription (API 2.1)
  cpu/src/libmfxvplsw_vpl.cpp
  test/unit/api/smart_dispatcher.cpp
Due: cpplint

Add MFXVideoDECODE_VPP funcs
  cpu/src/cpu_decodevpp.cpp
  cpu/src/cpu_decodevpp.h
  cpu/src/cpu_vpp.cpp
  cpu/src/cpu_vpp.h
  cpu/src/cpu_workstream.h
  cpu/src/libmfxvplsw_decvpp.cpp
  cpu/src/libmfxvplsw_vpp.cpp
  test/unit/api/x_getvideoparam.cpp
  test/unit/api/x_init_reset_close.cpp
  test/unit/api/x_notimplemented.cpp
  test/unit/api/x_xframeasync.cpp
Due: cpplint

Refactor Windows Bootstrap
  script/bootstrap.bat
  script/bootstrap.py
Due: pylint

Fix error when lib64 created by bootstrap
  script/bootstrap.py
Due: pylint

Allow building for Win32
  CMakeLists.txt
  README.md
  cmake/CompileOptions.cmake
  cpu/ext/ffmpeg-svt/CMakeLists.txt
  script/bootstrap.bat
  script/bootstrap.py
  script/build.bat
Due: pylint

Rename 32bit files for parallel install
  cmake/oneAPIInstallDirs.cmake
  script/bootstrap.py
  script/test32.bat
Due: pylint

Fix dl dependency
  cpu/ext/ffmpeg-svt/CMakeLists.txt
  script/bootstrap.py
  script/build
Due: pylint

Update build script
  README.md
  script/bootstrap.py
  script/build.bat
  script/test32.bat
Due: pylint

Fix leak in vpp
  cpu/src/cpu_vpp.cpp
  cpu/src/cpu_vpp.h
Due: cpplint

KW fix
  cpu/src/cpu_decodevpp.cpp
Due: cpplint

Address 32bit unit test fails
  script/bootstrap.py
  test/unit/api/memory.cpp
  test/unit/api/x_getvideoparam.cpp
  test/unit/api/x_init_reset_close.cpp
  test/unit/api/x_queryiosurf.cpp
Due: pylint, cpplint

Fix internal mem alloc in decvpp
  cpu/src/cpu_decodevpp.cpp
  test/unit/api/x_queryiosurf.cpp
  test/unit/api/x_xframeasync.cpp
Due: cpplint

Add unit tests for setting required API version
  test/unit/api/smart_dispatcher.cpp
Due: cpplint

Fix decvpp leak
  cpu/src/cpu_decodevpp.cpp
  cpu/src/cpu_vpp.cpp
Due: cpplint

Fix Jpeg encode config
  cpu/src/cpu_encode.cpp
Due: cpplint

Add synk configuration file
  onevpl-cpu.snyk
Due: none

Add new function MFXVideoDECODE_VPP_Close()
  cpu/src/libmfxvplsw_decvpp.cpp
  cpu/src/windows/libmfxsw.def
Due: cpplint

Update dispatcher u-tests for multiple runtimes
  test/unit/api/smart_dispatcher.cpp
Due: cpplint

Add ARM aarch64 support to CPU implementation
  cpu/ext/ffmpeg-svt/CMakeLists.txt
  docker/Dockerfile-centos-7
  docker/Dockerfile-centos-7-GPL
  docker/Dockerfile-centos-8
  docker/Dockerfile-ubuntu-18.04
  docker/Dockerfile-ubuntu-20.04
  docker/build_docker_images.sh
  script/bootstrap
  script/build
Due: none

Update build_docker_images.sh
  docker/build_docker_images.sh
Due: none

Fix crash by mem alloc
  cpu/src/cpu_encode.cpp
Due: cpplint

Fix psnr calc failure by different res.
  cpu/src/cpu_encode.cpp
  cpu/src/frame_lock.cpp
Due: cpplint

Add e2e scripts and refactor for legibility
  cpu/ext/ffmpeg-svt/CMakeLists.txt
  script/_buildopts.bat
  script/_buildopts.sh
  script/bootstrap
  script/bootstrap.bat
  script/bootstrap.py
  script/build
  script/build.bat
  script/clean
  script/clean.bat
  script/install
  script/install.bat
  script/lint
  script/lint.bat
  script/stress
  script/test
  script/test.bat
  script/test32.bat
Due: pylint

Path conditions:
  pylint: any of: \.py$
  cpplint: any of: \.(h|hh|hpp|hxx|h|c|cc|cpp|cxx|c)$
