Repository oneapi-src/oneVPL-cpu: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cpplint

.pre-commit-config.yaml:

---
fail_fast: false
default_language_version:
  python: python3
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-yaml
  - repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.29.0
    hooks:
      - id: yapf
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: python
    hooks:
      - id: clang-format
  - repo: https://github.com/iconmaster5326/cmake-format-pre-commit-hook
    rev: master
    hooks:
      - id: cmake-format      
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
  - repo: local
    hooks:        
      - id: cpplint
        name: cpplint
        entry: cpplint
        language: system
        files: \.(h|hh|hpp|hxx|h|c|cc|cpp|cxx|c)$

Fix KW failures
  src/cpu/src/cpu_vpp.cpp
  src/cpu/src/frame_lock.cpp
Due: cpplint

Delete doc directory
  CMakeLists.txt
  doc/CMakeLists.txt
  doc/developer-reference/Makefile
  doc/developer-reference/README.md
  doc/developer-reference/VPL_apnds.rst
  doc/developer-reference/VPL_apnds_a.rst
  doc/developer-reference/VPL_architecture.rst
  doc/developer-reference/VPL_decoding.rst
  doc/developer-reference/VPL_encoding.rst
  doc/developer-reference/VPL_memory_use.rst
  doc/developer-reference/VPL_session.rst
  doc/developer-reference/VPL_sync.rst
  doc/developer-reference/VPL_vpp.rst
  doc/developer-reference/build.rst
  doc/developer-reference/conf.py
  doc/developer-reference/examples.dox
  doc/developer-reference/images/sdk_function_naming_convention.png
  doc/developer-reference/index.rst
  doc/developer-reference/limitations.rst
  doc/developer-reference/make.bat
  doc/developer-reference/supported_params.rst
Due: pylint

Remove AOM TPP, update existing TPP
  third-party-programs-AOM.txt
  third-party-programs.txt
Due: none

Avoid CMake features not supported in Ubuntu 18.04
  src/dispatcher/CMakeLists.txt
Due: none

Fail docker image build script if any step fails
  docker/build_docker_images.sh
Due: none

Fix KW SV.BANNED.REQUIRED.COPY
  tools/cli/vpl-decode.cpp
Due: cpplint

Fix kw failures
  test/unit/api/x_xframeasync.cpp
Due: cpplint

Fix EoS bug
  src/cpu/src/cpu_decode.cpp
  test/unit/api/x_xframeasync.cpp
Due: cpplint

Avoid IPLDT hits
  env/bash/vars.sh
  examples/dpcpp-blur/README.md
  src/dispatcher/vpl/mfx_dispatcher_vpl.h
Due: cpplint

Reduce IPLDT hits in cli tools
  tools/cli/vpl-common.h
  tools/cli/vpl-decode.cpp
  tools/cli/vpl-encode.cpp
  tools/cli/vpl-new-dispatcher.cpp
  tools/cli/vpl-vpp.cpp
Due: cpplint

Fix KW NPD.FUNC.MUST
  tools/cli/vpl-encode.cpp
Due: cpplint

Fix broken link to build info in README
  BUILD.md
  README.md
Due: none

Update API from 0.9 spec with IP fixes (7072c881)
  api/vpl/mfxdefs.h
  api/vpl/mfxstructures.h
Due: cpplint

Fix gmock test failure - hevcd_reset
  src/cpu/src/cpu_common.cpp
  src/cpu/src/cpu_common.h
  src/cpu/src/cpu_decode.cpp
  src/cpu/src/cpu_decode.h
  src/cpu/src/libmfxvplsw_decode.cpp
  tools/cli/vpl-encode.cpp
Due: cpplint

Fix missing flag checking in enc param validation
  src/cpu/src/cpu_decode.cpp
Due: cpplint

Use gcc libraries from correct path on Windows
  src/cpu/ext/ffmpeg-svt/CMakeLists.txt
Due: none

Fix hevce_reset failure
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/libmfxvplsw_encode.cpp
Due: cpplint

Add behavior tests for 2.0 dispatcher and memory
  src/cpu/src/cpu_frame.cpp
  src/cpu/src/cpu_frame.h
  src/cpu/src/libmfxvplsw_vpl.cpp
  src/dispatcher/linux/mfxloader.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl_config.cpp
  src/dispatcher/windows/main.cpp
  test/unit/api/memory.cpp
  test/unit/api/smart_dispatcher.cpp
Due: cpplint

Remove prompt character in example READMEs
  examples/dpcpp-blur/README.md
  examples/hello-decode/README.md
  examples/hello-encode/README.md
  examples/hello-vpp/README.md
Due: none

Use stable branch of x264 in bootstrap
  script/bootstrap
  script/bootstrap.bat
Due: none

Add items to ignore in KW scans
  .kwignore
Due: none

Fix gmock hevce_init test failures
  src/cpu/src/cpu_common.h
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/libmfxvplsw_encode.cpp
Due: cpplint

Return error when bit depth does not match FourCC
  src/cpu/src/cpu_decode.cpp
Due: cpplint

Add docker centos support
  docker/Dockerfile-centos-8
  docker/build_docker_images.sh
  docker/run.sh
  script/bootstrap
Due: none

Fix formatting issues in BUILD and README
  BUILD.md
  README.md
Due: none

Update API to ver 1.0 from oneAPI-spec (753ffe3)
  api/vpl/mfxadapter.h
  api/vpl/mfxbrc.h
  api/vpl/mfxcommon.h
  api/vpl/mfxdefs.h
  api/vpl/mfxdispatcher.h
  api/vpl/mfxdispatcherprefixedfunctions.h
  api/vpl/mfximplcaps.h
  api/vpl/mfxjpeg.h
  api/vpl/mfxmvc.h
  api/vpl/mfxpcp.h
  api/vpl/mfxsession.h
  api/vpl/mfxstructures.h
  api/vpl/mfxvideo.h
  api/vpl/mfxvp8.h
Due: cpplint

Fix compiler warnings
  src/cpu/src/cpu_encode.cpp
  test/unit/api/x_xframeasync.cpp
Due: cpplint

Fix hevce_init test failures
  src/cpu/src/cpu_encode.cpp
  src/cpu/src/cpu_encode.h
  test/unit/api/x_init_reset_close.cpp
  test/unit/api/x_xframeasync.cpp
Due: cpplint

Fix hevce_init BufferSizeInKB failure
  src/cpu/src/cpu_encode.cpp
Due: cpplint

Enable new MFXInitialize entrypoint for 2.x
  src/cpu/src/libmfxvplsw_vpl.cpp
  src/cpu/src/windows/libmfxsw.def
  src/dispatcher/linux/mfxloader.cpp
  src/dispatcher/vpl/mfx_dispatcher_vpl.h
  src/dispatcher/vpl/mfx_dispatcher_vpl_loader.cpp
  src/dispatcher/windows/mfx_dispatcher.cpp
  src/dispatcher/windows/mfx_dispatcher.h
  src/dispatcher/windows/mfx_function_table.cpp
Due: cpplint

Add unit tests for MFXInitialize
  src/cpu/src/libmfxvplsw_core.cpp
  test/unit/CMakeLists.txt
  test/unit/api/session_management.cpp
  test/unit/api/smart_dispatcher.cpp
Due: cpplint

Fix more gmock test failures
  src/cpu/src/libmfxvplsw_decode.cpp
  test/unit/api/x_init_reset_close.cpp
Due: cpplint

Disable av1context unit test
  test/unit/api/x_init_reset_close.cpp
Due: cpplint

Align AVC levels
  src/cpu/src/cpu_encode.cpp
Due: cpplint

Add DPCPP compiler runtime files to debugger path
  examples/dpcpp-blur/dpcpp-blur.vcxproj.user
Due: none

Avoid command line too long error building samples
  examples/dpcpp-blur/CMakeLists.txt
  examples/hello-decode/CMakeLists.txt
  examples/hello-encode/CMakeLists.txt
  examples/hello-vpp/CMakeLists.txt
Due: none

Fix encode time_base
  src/cpu/src/cpu_encode.cpp
Due: cpplint

Clarify when msys2 shell can be used in Windows
  BUILD.md
  README.md
Due: none

Correct Windows CMake instructions for dpcpp-blur
  examples/dpcpp-blur/README.md
Due: none

Correct zero initialization in DPC++ sample
  examples/dpcpp-blur/src/dpcpp-blur.cpp
Due: cpplint
