Repository oneapi-src/oneVPL-cpu: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cpplint

pylint:
  name: pylint
  entry: pylint
  language: system

cpplint:
  name: cpplint
  entry: cpplint
  language: system

Fix typo in build.bat
  script/build.bat
Due: none

Convert mfxImplDescription to read-only tables
  cpu/src/libmfxvplsw_vpl.cpp
Due: cpplint

Report implemented functions via new caps API
  cpu/src/libmfxvplsw_vpl.cpp
Due: cpplint

Add u-tests for implemented function filtering
  test/unit/api/smart_dispatcher.cpp
Due: cpplint

Add new unit test for DispReleaseImpl
  test/unit/api/smart_dispatcher.cpp
Due: cpplint

Add unit tests for API Major/Minor filters
  test/unit/api/smart_dispatcher.cpp
Due: cpplint

Add unit tests for Name, License, Keywords
  cpu/src/libmfxvplsw_vpl.cpp
  test/unit/api/smart_dispatcher.cpp
Due: cpplint

Update ffmpeg to cve free version
  script/bootstrap.py
Due: pylint

Define build for validation FFmpeg binary
  script/bootstrap.py
Due: pylint

Adjust options from premature commit
  script/bootstrap.py
Due: pylint

Fix the diff in mjpeg dec vpp paths
  cpu/src/cpu_decode.cpp
Due: cpplint

Update version.txt
  version.txt
Due: none

Resolve null deref
  cpu/src/cpu_encode.cpp
Due: cpplint

Add codeowners (#1)
  .github/CODEOWNERS
Due: none

Remove modulefiles
  modulefiles/CMakeLists.txt
  modulefiles/vpl
Due: none

Use single BUILD_TESTS option for testing
  CMakeLists.txt
Due: none

Add lib/<arch> to find_package path on Windows
  cpu/CMakeLists.txt
Due: none

Depend on a minimum version of VPL API
  cpu/CMakeLists.txt
Due: none

Avoid installing import library for CPU
  cpu/CMakeLists.txt
Due: none

Remove dependency on vars script for build
  script/build
  script/build.bat
  script/install
  script/install.bat
  test/unit/CMakeLists.txt
Due: none

Refactor dispatcher u-tests to support SW and GPU
  test/unit/CMakeLists.txt
  test/unit/api/smart_dispatcher.cpp
  test/unit/api/smart_dispatcher.h
  test/unit/api/smart_dispatcher_common.cpp
  test/unit/api/smart_dispatcher_gpu.cpp
  test/unit/api/smart_dispatcher_sw.cpp
  test/unit/api/smart_dispatcher_util.cpp
  test/unit/api/unit_api.h
  test/unit/main.cpp
Due: cpplint

Update CODEOWNERS (#7)
  .github/CODEOWNERS
Due: none

Update decvpp code to align gen lib
  cpu/src/cpu_decodevpp.cpp
  cpu/src/cpu_decodevpp.h
Due: cpplint

Update dispatcher u-test for HW accelMode
  test/unit/api/smart_dispatcher_common.cpp
Due: cpplint

Remove extraneous from CMake messages
  cpu/ext/ffmpeg-svt/CMakeLists.txt
Due: none

Display version of VPL being used by the build
  cpu/CMakeLists.txt
Due: none

Force libdir name for bootstrap dependencies
  script/bootstrap.py
Due: pylint

Use FHS install layout by default
  CMakeLists.txt
  cmake/oneAPIInstallDirs.cmake
Due: none

Set libdir for oneAPI install layout to lib
  CMakeLists.txt
Due: none

Fix test scripts to account for FHS instal layout
  script/test
  script/test.bat
Due: none

Add mfxFrameSurfaceInterface::QueryInterface()
  cpu/src/cpu_frame.cpp
  cpu/src/cpu_frame.h
  test/unit/api/memory.cpp
Due: cpplint

Update build instructions to reflect new env path
  README.md
Due: none

update libdav1d
  script/bootstrap.py
Due: pylint

Add utests for filter property DXGIAdapterIndex
  test/unit/api/smart_dispatcher.h
  test/unit/api/smart_dispatcher_common.cpp
  test/unit/api/smart_dispatcher_gpu.cpp
Due: cpplint

Fix encode default value when cqp is set
  cpu/src/cpu_encode.cpp
Due: cpplint

Fix decvpp mfxSurfaceArray internal mem op
  cpu/src/cpu_decodevpp.cpp
  cpu/src/cpu_decodevpp.h
  test/unit/api/x_xframeasync.cpp
Due: cpplint

Lock pylint version (#20)
  .pre-commit-config.yaml
  requirements-dev.txt
  script/bootstrap.py
  test/tools/python/check_content/util.py
  test/tools/python/get_content/util.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  cpplint: any of: \.(h|hh|hpp|hxx|h|c|cc|cpp|cxx|c)$
